{% extends 'base.html' %}
{% load staticfiles %}

{% block seo %}
<meta name="Description" content="Objectif économie est spécialisée dans le conseil, la vente, l’installation de solutions de chauffage tel que la pompe à chaleur, isolation, panneaux solaires photovoltaiques, thermiques et autres solutions de Sanitaire en France.">
<meta property="og:description" content="Objectif économie est spécialisée dans le conseil, la vente, l’installation de solutions de chauffage tel que la pompe à chaleur, isolation, panneaux solaires photovoltaiques, thermiques et autres solutions de Sanitaire en France.">
<meta property="og:title" content="Objectif Économie | Conditions générales de vente et d’utilisation ">
<title>Objectif Économie | Conditions générales de vente et d’utilisation </title>

<link rel="canonique" href="https://www.objectifeconomie.fr/" />
<link type="text/css" href="{% static 'vitrine/css/mentions_legales_pc.css' %}" media="only screen and (min-width: 992px)" rel="stylesheet">
<link type="text/css" href="{% static 'vitrine/css/mentions_legales_tel.css' %}" media="only screen and (max-width: 992px)" rel="stylesheet">
{% endblock %}

{% block link %}
{% endblock %}
{% block content %}
<section>
	<h1 class="titre-p-ml">Conditions générales de vente et d’utilisation </h1>
	<div class="div-ml">
		<h2>Préambule : </h2>
		<p>Le présent document constitue les Conditions Générales de Vente et d’Utilisation du Site internet www.contractfactory.com et des Services associés, et a pour objet de définir les modalités et les conditions d’utilisation du Site internet et l’achat de documents complétés par les Utilisateurs. L’utilisation du service, à quelque fin que ce soit, est subornée au respect des présentes Conditions Générales de Vente et d’Utilisation. <br>
		Le site est édité par BE ASSOCIATE, société par actions simplifiée, dont le siège social est situé 11, avenue de la République, 75011 Paris, inscrite au Registre du Commerce est des Sociétés de PARIS, sous le numéro 802 762 153.<br>
		Les présentes Conditions Générales de Vente et d’Utilisation prévalent sur tout autre document.<br>
		L’Utilisateur est réputé accepter les présentes Conditions Générales de Vente et d’Utilisation dès lors qu’il utilise le Service.<br>
		</p>
		<h2>1- Définition</h2>
		<p>Abonné : tout Utilisateur ayant souscrit un Abonnement.<br>
		Abonnement : tout abonnement souscrit sur le Site Internet.<br>
		Contenu : tout document, alerte, article, information accessible ou téléchargeable sur le Site Internet.<br>
		Cookie : élément qui ne permet pas d'identifier l'Utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le Site Internet.<br>
		Document : résultat de l’utilisation par l’Utilisateur d’un Service de conception automatisée sur le Site internet.<br>
		Données personnelles : des données sont considérées comme à caractère personnel dès lors qu’elles permettent d’identifier directement ou indirectement des personnes (ex. : nom, n° d’immatriculation, n° de téléphone, photographie....).<br>
		Service : toute prestation de services proposée sur le Site internet.<br>
		Site Internet : www.contractfactory.com.<br>
		Traitement de données : la collecte, l'enregistrement, l’utilisation, la transmission ou la communication d'informations personnelles ainsi que toute exploitation de fichiers ou bases de données, notamment des interconnexions.<br>
		Utilisateur : personne physique ou morale majeure et capable utilisant le Site internet.<br>
		</p>
		<h2>2- Objet des Conditions Générales de Vente et d’Utilisation du site internet</h2>
		<h3>Service proposé</h3>
		<p>Le Site internet propose le Service suivant : la conception automatisée et la vente de Documents par l’intermédiaire du Site internet.<br>
		La société BE-ASSOCIATE n’est pas un cabinet d’avocats. L’Utilisateur reconnait donc que le site n’est ni assimilable, ni substituable à une consultation d’avocat. Conformément à la loi 71-1130 du 31 décembre 1971, toutes les informations présentes sur le Site Internet ne le sont qu’à titre purement informatif. Les informations présentes sur le site ne constituent en aucun cas des conseils juridiques. Pour tout conseil juridique personnalisé, l’Utilisateur devra s'adresser à des professionnels du droit compétents et dûment habilités par la loi à effectuer des prestations de conseils juridiques. <br><br>
		Les photos sont non contractuelles. Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Objectif Economie.<br>
		</p>
		<h3>Modification des Conditions Générales de Vente et d’Utilisation</h3>
		<p>Les Conditions Générales de Vente et d’Utilisation applicables à l’Utilisateur sont celles disponibles au jour de sa dernière connexion sur le Site. BE-ASSOCIATE se réserve le droit de modifier les présentes Conditions Générales de Vente et d’Utilisation. <br>
		</p>
		<h3>Divisibilité des clauses</h3>
		<p> La nullité d'une ou de plusieurs clauses n'entraîne pas la nullité de l'ensemble de ces conditions générales de vente et d'utilisation. Les clauses non nulles continueront à produire leurs effets.<br>
		</p>
		<h2>3- Utilisation du Service et achat de Document</h2>
		<h3>Commande</h3>
		<p>Pour commander un Document ou un Service, l’Utilisateur doit : accéder au Site internet, choisir le type de document ou service qu’il souhaite acheter et remplir les informations lui permettant de paramétrer un Document. L’utilisateur peut à tout moment visualiser le contrat personnalisé avec ses informations et en particulier avant de confirmer sa commande.<br>
		Pour recevoir son document l’utilisateur doit fournir une adresse e-mail correcte, effectuer le paiement de sa commande et confirmer l’acceptation des présentes Conditions Générales de Vente et d’Utilisation.<br>
		A l’issue de la validation du paiement selon les modalités de paiement définis à l’article 3.3 des présentes Conditions Générales de Vente et d’Utilisation, le Document lui est envoyé par e-mail à l’adresse e-mail indiquée par l’Utilisateur.<br>
		En cas de défaut de paiement suite à l’achat et au téléchargement d'un Document sur le Site Internet par l'Utilisateur, BE ASSOCIATE pourra réclamer le remboursement des sommes dues par l’Utilisateur.<br>
		</p>
		<h3>Paiement</h3>
		<p>L’Utilisateur procède au paiement de la commande lors de la validation finale de celleci. Le prix est payable comptant, en totalité au moment de la validation finale du document commandé.<br>
		Le client peut obtenir sur demande au moment de la confirmation de la commande une facture.<br>
		</p>
		<h3>Modalités de paiement</h3>
		<p>Le paiement de la commande s’effectue soit par chèque, soit par virement bancaire soit par carte bancaire (Bleue, Visa, Eurocard/MasterCard), via un service de paiement sécurisé en ligne.<br>
		</p>
		<h3>Prix</h3>
		<p>Nos prix sont fixés par le tarif présentés à l’Utilisateur avant la passation de la commande.<br>
		</p>
		<h3>Droit de rétractation</h3>
		<p>En vertu de l’article L221-28, alinéa 3° - 13° du Code de la consommation, le client ne bénéficie pas d’un droit de rétractation à la réception de son Document.<br>
		Les commandes de Documents et de Services (Annonce légale et formalités) ne sont pas remboursables. En cas d'annulation la Société BeAssociate n'est en rien tenue de procéder au remboursement partielle ou totale de la commande (y compris les frais légaux), quel qu’en soit sont état d'avancement.<br>
		</p>
		<h3>Offres couplées</h3>
		<p>Les offres couplées à des services tiers (telles que les packs « entrepreneurs malins » ou « immobilier malin ») permettent de bénéficier de réduction sur les services proposés par BE-ASSOCIATE à la condition de souscrire à des services de partenaires tiers. Le coût des services fournis par des tiers n’est pas inclus dans la prestation facturée par BEASSOCIATE. La souscription à un service couplé nécessite la validation du tiers pour être pleinement validées vis à vis de BE ASSOCIATE. Le service vendu par BE ASSOCIATE ne pourra être pleinement exécuté sans la validation complète de l'offre.<br>
		La prise de commande par le client d'une offre couplée, n'implique pas l'engagement vis à vis du tiers. Le client ou le tiers peuvent librement renoncer à conclure un accord commercial entre eux.<br>
		Dans le cas où le tiers refuse de valider la souscription à ses services sans motif valable et préalablement exposé sur le site Contract-Factory, le client pourra demander l'annulation et le remboursement de sa commande à BE ASSOCIATE.<br>
		Dans le cas où le client renonce à souscrire aux services tiers, il ne pourra revendiquer ni l'exécution de sa commande auprès de BE ASSOCIATE, ni le remboursement de sa commande.<br>
		</p>
		<h2>4- Mise en relation avec un Avocat</h2>
		<p>L’Utilisateur a l'option de demander à être mis en relation avec un Avocat moyennant paiement d’une somme forfaitaire : un Avocat va adresser un email à l’Utilisateur dans lequel il lui demandera de lui indiquer son numéro de téléphone ainsi que ses disponibilités. L’Avocat contactera ensuite l’Utilisateur et lui accordera un entretien téléphonique d’une durée maximum d’1/2 heure pour répondre aux questions que l’Utilisateur lui posera en lien avec le contrat acheté sur le site Contract-Factory.<br>
		L’Utilisateur devra impérativement répondre à l’email qui lui a été adressé par l’Avocat dans un délai maximum de 15 jours à compter de sa réception. A défaut de respecter ce délai, l’Avocat ne sera plus tenu d’accorder un entretien téléphonique à l’Utilisateur et l’Utilisateur ne pourra pas demander le remboursement  de la somme forfaitaire payée, ce qu’il reconnaît.<br>
		</p>
		<h2>5- Annonces Légales et Formalités juridiques</h2>
		<h3>Annonces Légales</h3>
		<p>Dans le cadre d’une formalité administrative telle que notamment une création ou modification d'entreprise, dont les documents juridiques associés ont été préparés conjointement sur le site Contract-Factory, l'Utilisateur a la possibilité de confier à BEASSOCIATE la préparation et la publication de l'annonce légale obligatoire.<br>
		Ce service est payant selon le tarif affiché sur le site.<br>
		L'annonce légale sera rédigée à partir des informations fournies par l'Utilisateur sur le site Contract-Factory lors de la préparation de ses statuts constitutifs.<br>
		BE-ASSOCIATE se réserve alors le droit de rédiger de façon la plus concise possible les annonces légales.<br>
		L'annonce légale sera adressée à un journal d’annonces légales choisi par BE-ASSOCIATE, directement ou via un intermédiaire, dans les 24 heures ouvrées après réception par Be-ASSOCIATE d'une confirmation ("la Confirmation") écrite (par voie électronique) de la part de l'Utilisateur précisant que l'annonce légale est prête à être publiée.<br>
		La conformité et la validité des informations fournies dans le cadre de l'annonce légale ne sont pas vérifiées par nos services.<br>
		Il revient à l’Utilisateur de vérifier ses données personnelles avant Confirmation.<br>
		La responsabilité de ContractFactory ne pourra pas être engagée en cas de refus de l'annonce légale par le journal qui publiera l'annonce et/ou par le greffe.<br>
		Si du fait de modifications ultérieures à la Confirmation une nouvelle annonce légale ou un rectificatif devait être publié celui-ci serait 100% à la charge de l'Utilisateur.<br>
		</p>
		<h3>Formalités juridiques</h3>
		<p>Dans le cadre d’une formalité administrative telle que notamment une création ou modification d'entreprise ou déclaration DPAE, l'Utilisateur peut confier à BE-ASSOCIATE la mise en œuvre de toutes ou parties des démarches administratives nécessaires.<br>
		Ce service est payant selon le tarif affiché sur le site et couvre les démarches listés sur la page de commande.<br>
		Les documents déclaratifs tels que notamment les CERFA M0, M2 ou M3 seront rédigés à partir des informations fournies par l'Utilisateur sur le site Contract-Factory.<br>
		La transmission des dossiers aux administrations et services publiques compétents ne sera effectuée qu’après le renvoi par le Client d’un dossier complet.<br>
		Le dossier est considéré comme complet lorsque toutes les informations requises ont été renseignées, que les documents ont été dument signés et que les pièces justificatives ont été dûment envoyées.<br>
		Le contrôle de validité des dossiers reçus par BEASSOCIATE ne porte pas sur la validité et/ou l’authenticité des informations fournies par l'Utilisateur. Il n’est pas de la  responsabilité de BEASSOCIATE de conseiller l'Utilisateur dans la correction éventuelle de son dossier.<br>
		En cas de dépôt de documents totalement ou partiellement rédigés par l’Utilisateur, aucun contrôle ne sera effectué par BE-ASSOCIATE sur la validité ou la cohérence de ces documents.<br>
		La responsabilité de BEASSOCIATE ne pourra être engagée en cas de refus partiel ou complet du dossier par l’administration ou le service publique en charge de son enregistrement.<br>
		Le dossier constitutif est envoyé sous 48 heures ouvrées à compter de la réception des documents. BE-ASSOCIATE n'est pas responsable du délai de réponse des administrations et notamment des greffes des tribunaux de commerce.<br>
		Les dossiers signés ne peuvent être modifiés après avoir été renvoyés pour traitement à BEASSCOIATE. Si du fait de modifications ultérieures à la réception du dossier par BEASSOCIATE (quelle qu’en soit la cause), des frais supplémentaires devaient être réglés à des tiers, BEASSOCIATE se réserve le droit de les réclamer à l'Utilisateur et de suspendre la procédure en cours dans l'attente du plein paiement des sommes réclamées.<br>
		</p>
		<h2>6- Responsabilité<br>Responsabilité de BEASSOCIATE</h2>
		<p>BE-ASSOCIATE se réserve le droit d’envoyer à l’Utilisateur des e-mails personnalisés à l’adresse e-mail que l’Utilisateur lui communiquera.<br>
		BE-ASSOCIATE ne saurait voir sa responsabilité engagée dans les cas suivants :<br>
		Indisponibilité du Site internet ou des Services, notamment dans le cadre d’une opération de maintenance, de réparation et de mise à jour des Services.<br>
		Impossibilité de BE-ASSOCIATE à respecter ses obligations en application des présentes Conditions Générales de Vente et d’Utilisation si l'impossibilité résulte d'une cause en dehors de son contrôle raisonnable.<br>
		Défaillance technique ou informatique, défaut de compatibilité du Site et des Documents achetés avec le matériel et/ou le(s) logiciels de l’Utilisateur.<br>
		Utilisation illicite du Site internet, sans que BEASSOCIATE en ait été préalablement informée, contrairement à la réglementation applicable en matière de protection de Données Personnelles et à la sécurité sur internet.<br>
		Survenance de dommages directs ou indirects, matériels ou immatériels, de la perte de données, prévisibles ou imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site et/ou de ses services.<br>
		BE-ASSOCIATE ne garantit pas l'efficacité, l'exhaustivité, l'exactitude, l'actualisation, le résultat et l'effectivité des documents que l’Utilisateur établira sur ou via le site.<br>
		Le défaut de BE-ASSOCIATE de se prévaloir d'une ou plusieurs des clauses du présent document ne vaut pas renonciation définitive à faire valoir ses droits, et ne saurait dégager l’Utilisateur des engagements qu'il contracte par acceptation de celles-ci.<br>
		</p>
		<h3>Limitation de Responsabilité</h3>
		<p>DANS LE CADRE DE LA CRÉATION D'UNE SOCIÉTÉ OU D'UNE ASSOCIATION, LE MONTANT DE LA RESPONSABILITÉ DE BE ASSOCIATE EST STRICTEMENT LIMITÉE AU REMBOURSEMENT DES SOMMES PAYÉES PAR L'UTILISATEUR À LA DATE DE SURVENANCE DU FAIT GÉNÉRATEUR DE RESPONSABILITÉ.<br>
		</p>
		<h3>Responsabilité de l’Utilisateur</h3>
		<p>L’Utilisateur reconnaît être une personne morale ou physique majeure et capable pour bénéficier de l’accès, l’utilisation et réaliser des achats sur le Site internet. Il dispose en outre de toutes les autorisations nécessaires pour utiliser le mode de paiement qu'il choisit et reconnait que la communication de ses informations bancaires constitue la preuve de sa  capacité et son consentement à la vente, comme à l'exigibilité des sommes dues au titre de la commande.<br>
		L’Utilisateur est responsable de l’exactitude et de la mise à jour des informations qu’il remplit. Celui-ci peut à tout moment accéder à ses informations et les modifier en ligne dans les conditions fixées à l’article 3 « Utilisation du Service et achat de Document » des présentes Conditions Générales de Vente et d’Utilisation.<br>
		L’Utilisateur s'engage, en tout état de cause, à ne pas utiliser le Site internet, son contenu et ses services, à des fins illicites mais aussi à des fins publicitaires ou de spams.<br>
		Chaque Document est affecté à une adresse e-mail personnelle. Une même personne physique ou morale ne peut accéder à un même Document via l’utilisation de plusieurs adresses e-mail.<br>
		</p>
		<h3>Sanction du non-respect des Conditions Générales de Vente et d’Utilisation </h3>
		<p>En cas de non-respect des présentes par un Utilisateur, notamment en cas de défaut de paiement, d’un comportement inopportun ou répréhensible sur le Site ou dans le cadre de l’utilisation des Services ou, en cas de cession ou de mise à disposition de l’accès à son Contenu à un tiers sans l’accord préalable et écrit, BEASSOCIATE se réserve le droit de refuser l’accès à son Document, à tout moment, de plein droit et sans formalité judiciaire, par simple notification électronique.<br>
		</p>		
		<h2>7- Données personnelles</h2>
		<p>Les données nominatives qui sont demandées au Client sont nécessaires au traitement de sa commande et à l'établissement des factures, ces données sont conservées à titre de preuve de la transaction.<br>
		Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d'un droit d'accès, de modification et de suppression des informations collectées par BE-ASSOCIATE. Pour l’exercice de ce droit, l’Utilisateur peut contacter la Société à l’adresse suivante : contact@contractfactory.com.<br>
		</p>
		<h2>8- Cookies</h2>
		<p>Le Site internet peut être amené à utiliser des cookies. L’Utilisateur peut s’opposer à l’enregistrement de cookies, ou être prévenu avant d’accepter les cookies, en configurant son navigateur internet.<br>
		</p>
		<h2>9- Propriété intellectuelle</h2>
		<p>Le Contenu du Site internet est la propriété exclusive de BEASSOCIATE, protégé par les lois françaises et internationales relatives à la propriété intellectuelle. L’accès au Site Internet, concédé en licence gratuite, ne confère aucun droit de propriété intellectuelle.<br>
		Les marques de CONTRACTFACTORY, BE ASSOCIATE et de ses partenaires, ainsi que les logos figurant sur le site sont des marques et sont déposées.<br>
		Toute reproduction totale ou partielle de ce Contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon. L’Utilisateur s'interdit donc toute reproduction ou exploitation desdits documents, modèles et prototypes, etc., sans l'autorisation expresse, écrite et préalable de BE-ASSOCIATE qui peut la conditionner à une contrepartie financière.<br>
		</p>
		<h2>10- Loi applicable et attribution de compétence</h2>
		<p>Les présentes Conditions Générales de Vente et d’Utilisation sont soumises à la loi française. En cas de litige survenant à propos de l'exécution, de la résiliation ou des conditions du présent contrat, les parties s'efforceront de régler leur différend à l'amiable.<br>
		Si aucune solution amiable n'était trouvée et dans le cas où l’Utilisateur agirait en qualité de professionnel, le litige sera porté exclusivement devant les tribunaux de Paris.<br>
		</p>
		<h2>11- Réclamations</h2>
		<p>Toute réclamation de la part d’un Utilisateur doit être adressée à BE-ASSOCIATE SAS,  11, avenue de la République – 75011 PARIS, ou à l’adresse email suivante : contact@contract-factory.com.<br>
		Toute réclamation, pour être valable, doit être notifiée, par lettre recommandée avec accusé de réception, dans un délai maximum de 30 jours à compter de la date d’achat d’un Document sur le Site internet. BE-ASSOCIATE ne prendra en compte que les réclamations portant sur les Services.<br>
		</p>
		<h2>12- Médiation des litiges de consommation </h2>
		<p>Conformément aux dispositions du Code de la consommation concernant le règlement amiable des litiges, le Client peut recourir en tout état de cause à une médiation conventionnelle, auprès des instances de médiation sectorielles existantes ou à tout mode alternatif de règlement des différends en cas de contestation. En l'espèce, le médiateur désigné est : <br><br>
		Medicys 73, Boulevard de Clichy 75009 Paris<br>
		</p>
		<h2>13- Plateforme de Règlement en Ligne des Litiges</h2>
		<p>Conformément à l’article 14 du Règlement (UE) n°524/2013, la Commission Européenne a mis en place une plateforme de Règlement en Ligne des Litiges, facilitant le règlement indépendant par voie extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l’Union européenne. Cette plateforme est accessible au lien suivant: https://webgate.ec.europa.eu/odr/<br>
		</p>
		<h2>14- Langue</h2>
		<p>Les présentes Conditions Générales de Vente et d’Utilisation sont rédigées ainsi que l'ensemble des informations contractuelles mentionnées sur le site en langue française. Cette version l’emportera sur toute éventuelle traduction des présentes Conditions Générales de Vente et d’Utilisation.<br>
		</p>
	</div>
</section>
{% endblock %}